.post-show-col {
  padding: 0 5px;
  margin-bottom: size(17);
}
.cat-show-col {
  padding: 0 5px;
  margin-bottom: 10px;
}
.post-show-item {
  position: relative;
  @include d-center;
  @include back-img;
  &:after {
	padding-bottom: 100%;
	display: block;
	content: '';
  }
}
.post-show-item-image {
  @include d-center;
  @include overlay;
  padding: size(19) size(45);
  background-image: linear-gradient(to top, #000000 0%, #000000 9%, rgba(0, 0, 0, 0) 45%, #000000 100%);
}
.show-item-title {
  @include base-title;
  text-align: center;
  color: $gold;
  &:hover {
	color: $gold;
  }
}
.post-show-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.post-show-date {
  color: #ffffff;
  @include mid-text;
  text-align: center;
  font-weight: 700;
}
.show-item-link {
  @include base-text;
  @include d-center;
  min-width: size(140);
  height: size(41);
  border: 1px solid #ffffff;
  margin-top: 1rem;
  padding: 5px size(38);
  color: #ffffff;
  background-color: transparent;
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $red-main;
	transition: color, background-color .5s;
  }
}
//Base slider
.slider-base-wrap {
  margin: size(40) 0;
}
.slider-img-col {
  img {
	width: 100%;
  }
}
.slider-img-part {
  position: relative;
  width: 100%;
}
.slider-red-part {
  position: absolute;
  background-color: $red-main;
  right: 0;
  bottom: 0;
  height: size(22);
  width: 100%;
  z-index: 9;
}
.slider-text-wrap {
  padding: 0 0 0 10%;
}
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  z-index: 33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
.arrows-slider {
  margin-bottom: 3rem;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: 14px;
	height: 18px;
	transition: background-image .5s;
	top: calc(100% + 1rem);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right-black.png");
	right: 0;
	&:hover {
	  background-image: url("../iconsall/arrow-right-red.png");
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left-black.png");
	right: 3rem;
	&:hover {
	  background-image: url("../iconsall/arrow-left-red.png");
	  transition: background-image .5s;
	}
  }
}
//Categories output
.cat-form-item {
  @include d-center;
  flex-direction: column;
  background-color: #000000;
  padding: size(30) size(65);
}
.cat-form-title {
  @include giant-title;
  color: #ffffff;
  margin-bottom: size(25);
  text-align: center;
}
.cat-form-subtitle {
  @include base-title;
  color: $gold !important;
  text-align: center;
}
//Category item
.category-item-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.category-name-wrap {
  @include d-center;
  min-height: size(64);
  @include base-title;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
  background-color: $red-main;
  &:hover {
	color: #ffffff;
  }
}
.category-text-wrap {
  display: flex;
  align-items: center;
  background-color: $gold;
  padding: size(12) 15px size(10) 10%;
}
.category-image {
  width: 100%;
  @include back-img;
  &:after {
	padding-bottom: 35%;
	content: '';
	display: block;
  }
}
//Faq
@mixin faq-text {
  color: #4d4d4c;
  font-size: size(24);
  line-height: size(26);
  font-weight: 300;
}
.faq {
  padding: size(60) 0;
  .block-page-output {
	h1, h2, h3, h4, h5, h6 {
	  color: $gold;
	}
  }
  .tab-content {
	display: flex;
	align-items: center;
	padding: size(35);
	background-color: #000000;
	background-image: url("../img/faq-back.png");
	background-position: bottom center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 100%;
  }
  .nav-tabs {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	border: none;
  }
  .nav-tabs .nav-item {
	margin-bottom: size(35);
	&:last-child {
	  margin-bottom: 0;
	}
  }
  .nav-tabs .nav-link {
	display: flex;
	align-items: center;
	@include base-text;
	margin-bottom: 0;
	min-height: size(72);
	border: 1px solid #000000;
	background-color: #ffffff;
	border-radius: 0 !important;
	padding-left: size(40);
	background-image: url("../iconsall/arrow-left-red.png");
	background-size: size(14);
	background-repeat: no-repeat;
	background-position: size(15) center;
	position: relative;
	&.active {
	  background-image: none;
	  background-color: $gold;
	  border: 1px solid $gold;
	  &:after {
		content: '';
		background-image: url("../iconsall/gold-arrow.png");
		position: absolute;
		left: -10px;
		width: 20px;
		height: 20px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: block;
	  }
	}
  }
}
