.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea,
div.wpcf7 input[type="text"].not-name,
div.wpcf7 select {
  padding-right: 8px;
  background-image: none;
}
div.wpcf7 textarea {
  padding: 2px 8px 0 8px;
  height: size(72);
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  position: relative;
  border: none;
  background-color: $red-main;
  @include base-text;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: size(41);
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.form-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
//Popup
.triggers-wrap {
  position: fixed;
  top: 50%;
  left: 10px;
  display: flex;
  flex-direction: column;
  z-index: 99999;
}
.trigger-wrap-item {
  @include d-center;
  width: size(113);
  height: size(53);
  margin-bottom: 10px;
  cursor: pointer;
  img {
	margin-left: 4px;
  }
  span {
	font-size: size(24);
	line-height: size(22);
	font-weight: 700;
  }
}
.search-trigger {
  background-color: $red-main;
  img {
	width: size(24);
  }
  span {
	color: #ffffff;
  }
}
.pop-trigger {
  background-color: $gold;
  img {
	width: size(36);
  }
  span {
	color: #000000;
	font-size: size(20);
	line-height: size(22);
  }
}
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: size(16);
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.form-wrapper-base {
  position: relative;
  @include d-center;
  flex-direction: column;
  padding: size(30) 7%;
  background-color: #e7dda1;
}
.close-form, .close-search {
  position: absolute;
  right: size(15);
  top: size(15);
  cursor: pointer;
  img {
	width: size(18);
  }
}
.fixed-form {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100%;
}
.pop-form-title {
  @include mid-text;
  text-align: center;
  color: #000000;
  font-weight: 700;
  margin-bottom: 10px;
}


.pop-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
  &.show-search {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.float-search {
  position: relative;
  width: 100%;
  max-height: 30vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: 40px;
  background-color: $red-main;
  &.show-float-search {
	opacity: 1;
	transform: translateY(0);
  }
}
.search-form {
  @include d-center;
  input[type="search"] {
	flex-grow: 1;
  }
  input[type="submit"] {
	width: 3rem;
	height: 3rem;
	background-image: url("../iconsall/search.png");
	background-color: $red-main;
	background-position: center;
	background-repeat: no-repeat;
  }
}
