//Footer
.footer-main {
  padding: size(80) 0;
  background-image: linear-gradient(to top, #c4ab14 0%, #d9c578 100%);
}
.foo-menu {
  padding-top: 1rem;
}
.foo-title {
  @include base-text;
  margin-bottom: size(30);
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a {
	  display: flex;
	  @include base-text;
	  transition: color .5s;
	  &:hover {
		color: $red-main;
		transition: color .5s;
	  }
	}
  }
}
#go-top {
  position: absolute;
  top: size(10);
  right: size(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  width: size(66);
  height: size(55);
  background-color: #000000;
  padding: size(15);
  img {
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.socials-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  a {
	margin: 2px;
  }
  .fab {
	font-size: size(21);
	color: #ffffff;
	transition: color .5s;
  }
}
.social-link {
  @include d-center;
  width: size(39);
  height: size(39);
  background-color: $red-main;
  &:hover {
	.fab {
	  color: $gold;
	  transition: color .5s;
	}
  }
}


//Header
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: size(20);
	  a{
		@include d-center;
		color: #000000;
		font-size: size(20);
		line-height: size(21);
		text-align: center;
		font-weight: 700;
		transition: color .4s;
		&:hover {
		  color: $red-main;
		  transition: color .4s;
		}
	  }
	}
  }
}
.header-top {
  padding-top: size(13);
  padding-bottom: size(13);
}
.header-tel {
  @include d-center;
  background-color: $gold;
  padding: size(5) size(10);
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.tel-text {
  font-size: size(18);
  line-height: size(20);
  color: #000000;
  font-weight: 700;
}
.header-tel-icon {
  margin-right: 5px;
  width: size(17);
}
.pdf-icon {
  width: size(30);
  margin-right: 5px;
}
.pdf-text {
  font-size: size(18);
  line-height: size(20);
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.header-file-link {
  background-color: $red-main;
}
.logo {
  @include d-center;
  img {
	max-height: size(81);
  }
}
footer {
  .contact-info {
	@include base-text;
	margin-bottom: 0;
  }
}
.top-events {
  width: 100%;
  overflow-x: hidden;
}
.header-bottom {
  overflow-x: hidden;
}
.main-ticker-wrap {
  width: 100%;
  overflow: hidden;
  height: size(39);
  background-color: #000000;
  margin-bottom: size(13);
  box-sizing: content-box;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 30px;
}
.msg-ticker-wrap{
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: msg_ticker;
  animation-duration: 10s;
  overflow: hidden;
  .msg-item{
	height: 100%;
	display: inline-flex;
	align-items: center;
	a{
	  @include d-center;
	  padding-left: 5px;
	  border-left: 1px solid #ffffff;
	  span{
		white-space: nowrap;
		color: #ffffff;
		font-weight: 700;
		font-size: size(20);
		line-height: size(22);
	  }
	}
  }
  &:hover{
	animation-play-state: paused;
  }
}
@keyframes msg_ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(100%, 0, 0); }
}


.sticky-form {
  background-image: url("../img/foo-form.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: size(100) 0 size(45) 0;
}
.check-col {
  label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0;
	margin-top: -1rem;
  }
  input {
	min-width: 1rem;
	width: 1rem;
	margin-left: 20px;
  }
  span {
	color: #ffffff;
	font-weight: 700;
	font-style: size(20);
	line-height: size(24);
  }
}
.foo-form-title {
  @include base-title;
}
.foo-form-subtitle {
  font-size: size(20);
  line-height: size(21);
}
.foo-form-title, .foo-form-subtitle {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
#fix-form {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
}
