// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin giant-title {
  font-size: size(60);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(55);
  margin-bottom: size(15);
}
@mixin base-title {
  font-size: size(36);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(36);
  margin-bottom: size(10);
}
@mixin mid-text {
  font-size: size(30);
  line-height: size(30);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
@mixin base-text {
  font-size: size(24);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  color: #000000;
}
@mixin small-text {
  font-size: size(20);
  line-height: size(22);
  font-weight: 700;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
@mixin input-style {
  height: size(41);
  padding-right: size(35);
  background-position: calc(100% - 6px) center;
  background-size: size(22);
  background-repeat: no-repeat;
  background-color: #ffffff;
}
@mixin input-text {
  @include base-text;
}
@keyframes rotating {
  0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
  }
}
@mixin arrow-link {
  width: size(22);
  height: size(22);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: size(12);
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
