/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

@media (min-width: 1600px) {
  html{
	font-size: 24px;
  }
  .title-cat-wrap {
	padding: 5px;
	@include base-title;
  }
  #go-top {
	top: size(80);
  }
  .gallery-all {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(116);
	}
	[dir="rtl"] .slick-prev:before, [dir="rtl"] .slick-next:before {
	  width: size(36);
	  height: size(48);
	}
  }
  .header-top {
	padding-right: size(23);
	padding-left: size(23);
  }
  .header-tel {
	padding: size(15) size(30);
  }
  .tel-text {
	@include mid-text;
	font-weight: 700;
	text-align: center;
  }
  .header-tel-icon {
	margin-right: size(24);
	width: size(22);
  }
  .pdf-icon {
	margin-right: size(28);
	width: size(46);
  }
  .pdf-text {
	font-size: size(24);
	line-height: size(22);
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 90%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  footer {
	.form-title-big {
	  font-size: size(45);
	  line-height: size(40);
	}
  }
  .stage-img {
	max-width: 13%;
  }
  .triggers-wrap {
	left: 0;
  }
  #MainNav{
	ul{
	  li{
		padding: size(10);
	  }
	}
  }
  .sticky-form {
	padding: size(50) 0 size(10) 0;
  }
  .foo-form-title {
	font-size: size(24);
	line-height: size(22);
  }
  .foo-form-subtitle {
	font-size: size(16);
	line-height: size(18);
  }
  .table-link {
	font-size: size(17);
	line-height: size(20);
	width: unset;
	padding: 5px size(15);
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .nav-tabs {
	margin-bottom: 2rem !important;
  }
  .table-show {
	th {
	  font-size: size(22);
	  line-height: size(24);
	}
  }
  .stage-img {
	max-width: 10%;
  }
  .home-cat-item {
	flex: 0 0 33.3%;
	max-width: 33.3%;
	margin-bottom: 10px;
  }
  .slider-img-col {
	margin-top: 4rem;
  }
  .slider-text-wrap {
	padding: 0;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .logo {
	padding-right: 60px;
  }
  .stage-img {
	display: none;
  }
  .home-big-title {
	font-size: size(95);
	line-height: size(90);
  }
  .post-video {
	iframe {
	  height: 350px !important;
	}
  }
  .sticky-form {
	display: none !important;
  }
}
//Custom media query (mobile)
@media (max-width: 650px) {
  .mask-img {
	display: none;
  }
  .trigger-wrap-item {
	width: size(50);
	span {
	  display: none;
	}
	img {
	  margin: 0;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .home-cat-item {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .home-big-title {
	font-size: size(80);
	line-height: size(70);
  }
}







/*
::::: Custom media queries :::::
*/
@media (max-width: 500px) {
  .header-contacts-row {
	position: fixed;
	top: 25%;
	z-index: 99999;
	left: 0;
  }
  .header-tel span {
	display: none;
  }
  .header-contacts-col, .logo-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .logo {
	padding: 0 size(60);
  }
  .table-show {
	td {
	  padding-right: 4px;
	  padding-left: 4px;
	}
  }
}

@media (max-width: 450px) {
  .home-cat-item {
	flex: 0 0 90%;
	max-width: 90%;
  }
  .home-small-title {
	font-size: size(45);
	line-height: size(46);
  }
  .home-big-title {
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	font-size: size(70);
	line-height: size(75);
  }
  .gallery-all {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(56);
	}
	[dir="rtl"] .slick-prev:before, [dir="rtl"] .slick-next:before {
	  width: size(26);
	  height: size(38);
	}
  }
  .post-video {
	iframe {
	  height: 250px !important;
	}
  }
}
