@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";
@import "cards";

body{
  font-family: Almoni, sans-serif;
  text-align: right;
  color: #000000;
  overflow-x: hidden;
}
.base-text {
  @include base-text;
}
.base-title {
  @include base-title;
}
.base-title-red {
  @include base-title;
  color: $red-main;
  text-align: center;
}
.home-banner {
  margin: size(50) 0;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $gold;
	font-weight: 700;
  }
  h2 {
	@include base-title;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	@include mid-text;
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h5 {
	font-size: size(22);
	line-height: size(24);
  }
  p, li {
	@include base-text;
	margin-bottom: size(20);
  }
  ul {
	list-style: disc;
	margin: size(20);
  }
}
.block-page-output {
  * {
	text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $red-main;
	font-weight: 700;
  }
  h2 {
	@include base-title;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	@include mid-text;
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h5 {
	font-size: size(22);
	line-height: size(24);
  }
  p, li {
	@include base-text;
	margin-bottom: size(25);
  }
  ul {
	list-style: disc;
	margin: size(20);
  }
}
.base-page-body {
  padding-top: size(60);
}
//Homepage
.home-main {
  @include d-center;
  padding: size(200) 0;
  @include back-img;
}
.home-small-title {
  @include giant-title;
  color: #ffffff;
  text-align: center;
}
.home-big-title {
  text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  color: $red-main;
  font-size: size(120);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(100);
  text-align: center;
}
.home-cats {
  margin-top: -2rem;
}
.home-cats-link {
  min-width: size(220);
  height: size(37);
  border: 1px solid $red-main;
  margin-top: 1rem;
  margin-bottom: size(27);
  color: $red-main;
  &:hover {
	color: #ffffff;
	background-color: $red-main;
  }
}
.cats-row-home {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.cat-item-home-img {
  @include back-img;
  display: flex;
  &:after {
	padding-bottom: 80.5%;
	display: block;
	content: '';
  }
}
.home-cat-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 5px;
}
.title-cat-wrap {
  @include d-center;
  padding: 5px;
  width: 100%;
  flex-grow: 1;
  background-color: $red-main;
  text-align: center;
  color: #ffffff;
  font-size: size(30);
  line-height: size(28);
  margin-bottom: 0 !important;
  min-height: 2rem;
}
.home-form-base {
  position: relative;
  margin-bottom: size(30);
  background-image: linear-gradient(to right, #d9c578 0%, #c4ab14 18%, #c49d14 54%, #c4ab14 88%, #d9c578 100%);
  padding: size(40) 0 size(20) 0;
}
.mask-img {
  position: absolute;
  bottom: 0;
  max-width: 11%;
}
.mask-left {
  left: 5px;
}
.mask-right {
  right: 5px;
}
//First form on homepage
.form-title-big {
  @include giant-title;
  color: #000000;
  margin-bottom: 0;
  text-align: center;
}
.post-form-title-big {
  @include base-title;
  color: #ffffff;
  text-align: center;
}
.form-title-small {
  @include base-title;
  color: #000000;
  margin-bottom: 0;
  text-align: center;
}
.post-form-title-small {
  @include base-text;
  text-align: center;
  color: $gold;
  margin-bottom: size(35);
}
//About block on homepage
.about-home-wrapper {
  border: 1px solid $gold;
  background-color: #000000;
  padding: 15px;
}
.about-home-block {
  background-image: url("../img/about-back.png");
  @include back-img;
  padding: size(120) 0;
  .base-output {
	* {
	  color: #ffffff;
	}
	p, ul {
	  margin-bottom: size(20);
	}
  }
}
.faq {
  .base-output {
	* {
	  color: #ffffff;
	}
	p, ul {
	  margin-bottom: size(20);
	}
  }
}
.form-about-section {
  position: relative;
  .form-title-small {
	color: #ffffff;
  }
}
.stage-img {
  position: absolute;
  top: 0;
  max-width: 9%;
  z-index: 3;
}
.stage-left {
  left: 0;
}
.stage-right {
  right: 0;
}
.about-image {
  border: 1px solid $gold;
  img {
	width: 100%;
  }
}
.block-title-about {
  @include base-title;
  color: $gold;
}
.about-link {
  color: $gold;
  background-image: url("../iconsall/about-link.png");
  background-position: 4px center;
  background-size: 7px;
  background-repeat: no-repeat;
  font-size: size(18);
  text-align: right;
  line-height: size(20);
  padding-left: 20px;
  border-bottom: 2px solid $gold;
  transition: background-position .5s;
  &:hover {
	color: $gold;
	background-position: left center;
	transition: background-position .5s;
  }
}
//Page
.top-image-page {
  @include back-img;
  background-image: url("../img/top-img.png");
  padding: size(96) 0 size(41) 0;
  margin-bottom: size(32);
}
.breadcrumbs-custom {
  margin-bottom: size(30);
  a, span {
	color: #000000;
	font-size: size(18);
	line-height: size(20);
	font-weight: 700;
  }
}
.top-title {
  font-size: size(48);
  line-height: size(45);
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}
.add-more-link {
  @include mid-text;
  font-weight: 700;
  background-size: size(18);
  background-repeat: no-repeat;
  background-position: 12px center;
  padding: 0 size(24) 0 size(40);
  background-image: url("../iconsall/arrow-down.png");
}
.load-more-posts {
  &.hide {
	display: none;
  }
}
//Gallery on post page
.gallery-all {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	height: 100%;
	width: size(80);
	background-color: rgba(0, 0, 0, 0.6);
	@include d-center;
  }
  [dir="rtl"] .slick-prev:before, [dir="rtl"] .slick-next:before {
	content: '';
	display: block;
	width: size(26);
	height: size(38);
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
	&:before {
	  background-image: url("../iconsall/arrow-right-white.png");
	}
  }
  [dir="rtl"] .slick-next {
	left: 0;
	&:before {
	  background-image: url("../iconsall/arrow-left-white.png");
	}
  }
}
.gallery-item {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 2px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
}
//Post video
.post-video {
  margin: size(60) 0;
  position: relative;
  width: 100%;
  height: 100%;
  img {
	width: 100%;
	height: auto;
  }
}
//.video-wrapper {
//  &.height-video:after {
//	content: '';
//	display: block;
//	padding-bottom: 50%;
//  }
//}
.play-video {
  @include overlay;
  cursor: pointer;
}
.post-form-wrap {
  @include d-center;
  flex-direction: column;
  background-color: #000000;
  padding: size(65);
  background-image: url("../img/post-form-back.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.post-body {
  .base-output {
	h2, h3, h4, h5, h6 {
	  color: #000000;
	}
	p, li {
	  font-size: size(20);
	  line-height: size(22);
	}
  }
}
//Contact page
.contact-item {
  border-bottom: 2px solid #000000;
  margin-bottom: size(30);
  margin-left: 5%;
}
.contact-info-title {
  @include mid-text;
  color: $red-main;
  margin-bottom: 8px;
}
.contact-info {
  @include base-text;
  font-weight: 400;
  transition: color .5s;
  margin-bottom: 5px;
  &:hover {
	color: $red-main;
	transition: color .5s;
  }
}
//Show post page
.content-show-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.tickets-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.ticket-item {
  @include mid-text;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
  min-height: size(41);
  background-color: $red-main;
  margin-bottom: 20px;
}
.show-base-black-title {
  @include mid-text;
  color: #000000;
  font-weight: 700;
  margin-bottom: 15px;
}
.tel-row-show {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: size(40) 0;
}
.show-phone {
  transition: color .5s;
  &:hover {
	color: $red-main;
	transition: color .5s;
  }
}
.table-link {
  @include d-center;
  @include base-text;
  text-align: center;
  margin-bottom: 0;
  width: size(140);
  height: size(41);
  background-color: $gold;
  transition: background-color, color .5s;
  &:hover {
	color: #ffffff;
	background-color: $red-main;
	transition: background-color, color .5s;
  }
}
.table-show {
  table, tr, td {
	border: none;
  }
  th {
	@include mid-text;
	text-align: center;
	font-weight: 700;
  }
  td {
	color: #000000;
	font-size: size(20);
	line-height: size(22);
	font-weight: 400;
	text-align: center;
	vertical-align: center;
  }
  table td, table th {
	border-bottom: 1px solid #000;
	//border-right: 1px solid #000;
  }
  table td:last-child, table th:last-child {
	border-bottom: none;
  }
}

@import "responsive";
